header{
    text-align: center;
}
div{
    margin: auto;
    width: 1100px;
}
#temporary{
    float:right;
    clear: right;
    width: 400px;
}
#permanent{
    width: 600px;
    margin-right: 100px;
         
}
aside{
    float: right;
    
}
p{
    clear: both;
    width: 600px;
    border: 600px;

}
li{
   margin: auto; 
}
#first{
    clear: both;
    
}