h1{
    display:inline-block;
    text-align: center;
    padding: 138px 10px;   
    
}

header{
    margin: 0px;
    border-bottom: 1px dotted black;
}
img{
    float: right;
    text-align: center;
    margin-top: 10px;    
}

div{
    margin: auto;
    width: 1100px;
}

#position{
    padding-bottom: 120px;
}

#contact{
    padding: 10px 0px;
}

li{
   margin: auto; 
}
h5{
    font-family: 'Roboto', sans-serif;
    padding: 5px 0px;
    font-size: 21px;
    font-weight:100;
}
h3{
    font-size: 45px;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
