nav{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 17px;
    
}
#banner{
    height:500px;
    background-image: url(/images/airplane_1540x500.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin: 30px;
}
p{
    font-size: 20px;
    text-align: center;
    margin: 20px;
}
footer{
    text-align: left;
    margin-top: 20px;
}

#kblog{
    text-align: center;
}
#intro{
    margin: 40px;
}